/* [HORIZONTAL BARS] */
#bar-horzontal {
    max-width: 80%;
    padding: 0px;
    
    background: #222;
    flex: 99%;
}
div {
    color: #fff;
    padding: 1px 0 10px 5px;
    box-sizing: border-box;
    white-space: nowrap;
    flex: 90%;
    
}
html, body {
    font-family: arial;
    padding: 0;
    margin: 10px;
}
h1 {
    font-size: 1.4em;
    padding: 0;
    margin: 5px 0;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid tomato;
    width: 120px;
    height: 120px;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: spin;
}
.row{
    display: flex;
    border: none;
    padding: 0px;   
}
#column1{
    border: none;
    flex: 1%;
    background: tomato;
    color: #fff;
    max-width: 100px;
}
p{
    display:inline-block;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    
