/* [HORIZONTAL BARS] */
#bar-horzontal {
    width: 10px;
    max-width: 80%;
    padding: 0px;
    padding-left: 10px;
    background: rgb(190, 195, 227);
    flex: 99%;
    border: 4px solid rgb(77, 77, 77);
    border-radius: 10px;
}

#button1 {
    height: 30px;
    width: 90px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: 600;
    color: black;
}

div {
    color: #fff;
    padding: 1px 0 10px 5px;
    box-sizing: border-box;
    white-space: nowrap;
    flex: 90%;
    
}
html, body {
    font-family: arial;
    padding: 0;
    margin: 10px;
}
h1 {
    font-size: 1.4em;
    padding: 0;
    margin: 5px 0;
    text-decoration: black underline;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid tomato;
    width: 120px;
    height: 120px;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: spin;
}
.row{
    display: flex;
    border: none;
    padding: 0px;   
}
#column1{
    width: 50px;
    border: none;
    flex: 1%;
    background: grey;
    color: black;
    border-radius: 10px;
    max-width: 115px;
    padding-top: 10px;
    margin-right: 10px;
}
p{
    display:inline-block;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
